* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    margin: 5% 0 0 0%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    input {
        padding: 15px;
        text-align: center;
        width: 30%;
        margin-top: 10px;
    }

    h4 {
        margin-right: 25%;
    }

    .confirmPass {
        margin-right: 22%;
    }

    .age {
        margin-right: 27%;
    }

    .email {
        margin-right: 27%;
    }

    .submit-btn {
        width: 32%;
    }

    p {
        color: red;
        margin-top: 11px;
    }

    span {
        margin-right: 32rem;
    }
}